---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="container mx-auto px-4 py-8">
		<h1 class="text-slate-100 text-5xl font-bold mb-2">Dan Lourenço</h1>
		<h2 class="text-slate-200 text-2xl font-semibold mb-2">Software Engineer</h2>
		<p class="text-slate-200 text-lg">
			Welcome to the official <a href="https://astro.build/" class="text-teal-400 hover:text-slate-50 transition-colors">Astro</a> blog starter template. This
			template serves as a lightweight, minimally-styled starting point for anyone looking to build
			a personal website, blog, or portfolio with Astro.
		</p>
	</div>
</BaseLayout>
